//- layout
mixin section-container
  section.pt64.pb64.my-5&attributes(attributes)
    block

//- component 

//- header background image
mixin headBackgroundImg(object={src:"assets/images/headphone-showcase01-v0.3.jpg",alt:"showcase01"})
  if object != null
    section.image-bg.white-bg.fullscreen
      .background-image-holder
        img(src="assets/images/headphone-showcase01-v0.3.jpg", alt="showcase01").background-image


mixin projectTitle(object)
  if object != null
    .row.pt72.pageTitle.d-flex.justify-content-center
      .col-sm-10.text-center
        h2.change2title.uppercase.bold.mb24 #{object.title}
        p #{object.titleDes}
    .row.pt72.projectBrief
      each item,index in object.des
        .col-sm-3.col-xs-6.border-line-between.mt8
          h5.mb4 #{item.desTitle}
          each ite in item.desRole
            p.mb4 #{ite}

mixin sectionTitle(titleName)
  .row.mb-5
    .col-md-12.sectionTitle
      h2 #{titleName} 
  block 

mixin sectionTakeAway(object={color:""})
  .sectionTakeAway.mt-5.mb-2(style!={"background-color":object.color})
    block

mixin imgWithPatternContainer(imgSrc,imgAlt,patternSrc,patternAlt)
  .col-md-5.col-md-push-1.text-center.imgWithPatternContainer
      img.imgWithbakcgroundPattern(src=imgSrc, alt=imgAlt)
  if(patternSrc != null)
    img.bakcgroundPattern(src=patternSrc, alt=patternAlt)

mixin h5TitleDesRow(object={title:"Title",des:"Des Des Des Des Des"})
  if object != null
    .row(class!=attributes.class ).d-flex.justify-content-center.mt-2
      .col-md-8.text-left
        h5 #{object.title}
        p #{object.des}
        block

mixin h3pTitleTextCol(object={title:"Title",des:"Some text here",wid:'auto'})
  if object != null
    if object.wid!= "auto"
      div(class!="col-md-"+object.wid+" "+attributes.class)
        h3.mb24 #{object.title}
        p #{object.des}
        block
    else
      div(class!="col"+" "+attributes.class)
        h3.mb24 #{object.title}
        p #{object.des}
        block


mixin TitleDesRow(object={title:"Title",des:"Des Des Des Des Des"})
  if object != null
    .row(class!=attributes.class ).d-flex.justify-content-center.mt-2
      .col-md-8.text-left
        h3 #{object.title}
        p #{object.des}
        block
        
//- +TitleDesRow({
//- title:"A stressful process",
//- des:"The HIV in-home test was a stressful experience. From the thinking of getting the test kit to the end of the result, they were doing it with heavy mental burdens and stresses. As the users take the result more seriously, they are the more irritated by the false result."}
//- )

//- leftTextRighImg

mixin h5TextBlock(object={title:"Title",des:"Some text here",wid:"6"})
  if object != null
    div(class!="col-md-"+object.wid+" "+`${attributes.class!=undefined ? attributes.class:""}`)
      h5.mb-4 #{object.title} 
      p !{object.des} 
      block
//- +h5TextBlock({
//- title:"Desk research",
//- des:"First, I inspected the Oraquick test kit, tried it out to understand how the user would interact with it, and identified pain points that might <strong>lead to a false result.</strong> Here are the assumptions:",
//- wid:"6"})

mixin TitleTextBlock(object={title:"Title",des:"Some text here",wid:"6"})
  if object != null
    div(class!="col-md-"+object.wid+" "+`${attributes.class!=undefined ? attributes.class:""}`)
      h3 #{object.title} 
      p !{object.des} 
      block
//- +TitleTextBlock({
//- title:"Test, link, and treat—locator guild HIV positive user to the service around.",
//- des:"After a rapid test, we realized that users have various situations. At the same time, there are different policy details response to different issues, like house support, medical cost waive, pregnant support, transportation help, etc. And thinking about our initial idea is to adding care for potential HIV users. Instead of keeping them in the application with a bunch of information, it would be better to prepare the user to walk out of the application to find the right people providing specific help and confirm the test. Meanwhile, I learn the HIV prevention model is “test, link, and treat.” The community section is far more important than HIV facts for potential HIV users. The application could help positive user easier to get to HIV service locations. And this function would be a similar service as the support phone call to make the user feel being cared for. Meanwhile, the usage of this function can be easily tracked as an indicator.",
//- wid:"8"})

mixin leftTextRighImg(object={title:"Title",des:"Some text here",imgSrc:"assets/images/hiv-interviewSynthesize01.png",imgId:"userAnswerId",imgAlt:"Answer"})
  if object != null
    .row.d-flex.justify-content-around.mt-5(class!=`${attributes.class!=undefined ? attributes.class:""}`)
      +TitleTextBlock({title:object.title,des:object.des,wid:"6"})
      .col-md-6
        +modalImg(object.imgId,object.imgSrc,object.imgAlt).mb16


//- eyebrowTextBlock
mixin leftH5Rightdes(object={title:"Title",des:"des"})
  .row.d-flex.justify-content-md-center.mt-3
    .col-4.text-left
      h5.lead !{object.title}
    .col-8.text-left.pl-5
      p !{object.des}
      block

mixin leftSumaryRightdes(object={title:"Title",des:"des"})
  .row.d-flex.justify-content-md-center.mt-3
    .col-4.text-left
      h5.lead #{object.title}
    .col-8.text-left.pl-5
      p #{object.des}
      block


mixin leftTextRighImgEyebrow(textBlock={eyebrow:"Eyebrow",title:"Title",des:"des",wid:"6"},imgBlock={imgSrc:"assets/images/hiv-interviewSynthesize01.png",imgId:"userAnswerId",imgAlt:"Answer"})
  .row.d-flex.align-items-center
    +eyebrowTextBlock(textBlock)
    div(class="col-md-"+`${12-textBlock.wid}`)
      +modalImgObject(imgBlock)

mixin modalImgObject(imgBlock={imgSrc:"assets/images/hiv-interviewSynthesize01.png",imgId:"userAnswerId",imgAlt:"Answer"})
  +modalImg(imgBlock.imgId,imgBlock.imgSrc,imgBlock.imgAlt)

mixin eyebrowTextBlock(object={eyebrow:"Eyebrow",title:"Title",des:"des",wid:"6"})
  div(class!="col-md-"+object.wid + " "+ `${attributes.class!=undefined ? attributes.class:""}`)
    h6.text-muted.mb0 !{object.eyebrow}
    h3.mb16 !{object.title}
    if object.des != null
      p !{object.des}
    block
//- +eyebrowTextBlock({
//- eyebrow:"Wire Frame",
//- title:"Product landing website",
//- des:"|To let people follow the product story,  we built a landing page to invite audiences into the scenario. The base ground is that smart speakers are smart enough to tell stories, talk with kids, and take care of them. We need <strong>realistic imagine</strong> to portrait the scenarios, and these scenario can <strong>resonate with the audience. </strong>We design the landing page framework where we explained what is the background story, what the product do, how we customize speaker contents, why user need our service, how users are going to set kids preferences and narrating the story in each sections then sent out for qualitative user feedback.",
//- wid:"12"
//- })
//- todo carousel not working yet
mixin carouselObjs(...imgObjUrls)
  //- imgObjUrl={imgSrc:"assets/images/hiv-interviewSynthesize01.png",imgId:"userAnswerId",imgAlt:"Answer"}
  .image-slider.slider-all-controls.controls-inside
    ul.slides
      each imgObjUrl in imgObjUrls
        li
          +modalImgObject(imgObjUrls)

//- link foot
mixin linkFooterLeft(object={titleName:"title",imgLink:"../../assets/images/Prediabetes-v3.png",link:"/prediabetes.html"})
  a(href=object.link)
    div.link-footer.d-flex.align-items-center.justify-content-start(style='background-image: url('+object.imgLink+')')
      .arrowContainer
        .arrow.left
      h4.left #{object.titleName}

mixin linkFooterRight(object={titleName:"title",imgLink:"../../assets/images/Prediabetes-v3.png",link:"/prediabetes.html"})
  a(href=object.link)
    div.link-footer.d-flex.align-items-center.justify-content-end(style='background-image: url('+object.imgLink+')')
      .arrowContainer
        .arrow.right
      h4.left #{object.titleName}