mixin carousel(...imgUrls)
  .image-slider.slider-all-controls.controls-inside(class!=attributes.class)
    ul.slides
      each imgUrl in imgUrls
        li
          img(alt='Image' src=imgUrl)

mixin modalImg(id,imgUrl,imgAlt)
  div.simpleModalImg(class!=attributes.class )
    a
      img.img-fluid.z-depth-1(src=imgUrl alt=imgAlt data-toggle='modal' data-target="#"+id)
    div.modal.fade(id!=id tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog.modal-xl(role='document')
        // Content
        .modal-content
          // Body
          .modal-body.mt32.mb32.p32.text-center
            img.img-fluid(src=imgUrl, alt=imgAlt)
            // Footer
            .modal-footer.justify-content-center
              button.btn.btn-outline-primary.btn-rounded.btn-md.mb0(type='button' data-dismiss='modal') Close
        // /.Content
      // Modal: Name
mixin imgCaption(imgUrl,imgAlt,caption,hover=false)
  if hover
    //- .image-caption.cast-shadow.hover-caption
    .image-caption.hover-caption
      img(alt=imgAlt src=imgUrl)
      .caption
        p= caption
  else
    .image-caption
      img(alt=imgAlt src=imgUrl)
      .caption
        p= caption

mixin rainbowText(text="NAME", type="div")
  .c-rainbow
    #{type}.c-rainbow__placeHolder= text
    #{type}.c-rainbow__container
      .c-rainbow__container__layer.c-rainbow__container__layer--white= text
      .c-rainbow__container__layer.c-rainbow__container__layer--orange= text
      .c-rainbow__container__layer.c-rainbow__container__layer--red= text
      .c-rainbow__container__layer.c-rainbow__container__layer--violet= text
      .c-rainbow__container__layer.c-rainbow__container__layer--blue= text
      .c-rainbow__container__layer.c-rainbow__container__layer--green= text
      .c-rainbow__container__layer.c-rainbow__container__layer--yellow= text
